@import "../shared/demo-base.css";

/* Esri Developer & Technology Summit Demo Template */
/* Demo template theming example */

arcgis-search {
  width: 280px;
}


/* Custom styling using Calcite's semantic tokens */
/* Resource: https://developers.arcgis.com/calcite-design-system/foundations/tokens/usage */

/* Light mode */
body,
:focus {
  --calcite-color-brand: #000;
  --calcite-color-focus: var(--calcite-color-brand);
}

/* Dark mode */
body.calcite-mode-dark,
.calcite-mode-dark :focus {
  --calcite-color-brand: #FEFE4D;
  --calcite-color-focus: var(--calcite-color-brand);
}
