/* Esri Developer & Technology Summit Demo Template */
/* Demo template theming example */

body calcite-navigation-logo{
  --calcite-color-text-2:#737373;  
}
body.calcite-mode-dark calcite-navigation-logo{
  --calcite-icon-color:#8FD0FF;
  --calcite-color-text-2:#C7C7C7;
}

html,
body {
  margin: 0;
  height: 100%;
}

calcite-shell-panel[slot="panel-start"] calcite-panel {
  border-top: 0;
}

/* Custom styling using Calcite's semantic tokens */
/* Resource: https://developers.arcgis.com/calcite-design-system/foundations/tokens/usage */

/* Light mode */
body,
:focus {
  --calcite-color-brand: #000;
  --calcite-color-focus: var(--calcite-color-brand);
}

/* Dark mode */
body.calcite-mode-dark,
.calcite-mode-dark :focus {
  --calcite-color-brand: #FEFE4D;
  --calcite-color-focus: var(--calcite-color-brand);
}