html,
body {
  margin: 0;
  height: 100%;
}

#map-el {
  --arcgis-layout-overlay-space-left: 45px;
}

calcite-loader {
  height: 70vh;
}

calcite-menu-item {
  --calcite-menu-background-color: var(--calcite-color-background);
}

calcite-navigation-logo {
  --calcite-navigation-logo-heading-color: var(--calcite-color-brand);
}

calcite-shell-panel[slot="panel-start"] calcite-panel {
  border-top: 0;
}

calcite-action-bar {
  margin-inline-end: 0.5rem;
}