html,
body {
  margin: 0;
  height: 100%;
}

#basemapLanguage {
  width: 200px;
  padding: 10px;
  background-color: var(--calcite-color-foreground-1);
}

calcite-loader {
  height: 70vh;
}

calcite-menu-item {
  --calcite-menu-background-color: var(--calcite-color-background);
}

calcite-navigation-logo {
  --calcite-navigation-logo-heading-color: var(--calcite-color-brand);
}

calcite-shell-panel[slot="panel-start"] calcite-panel {
  border-top: 0;
}

calcite-action-bar {
  margin-inline-end: 0.5rem;
}

/* High contrast light mode theme */
body {
  --calcite-color-brand: #003e99;
  --calcite-color-brand-hover: #1F55A5;
  --calcite-color-brand-press: #295DA9;
  --calcite-color-background: #d9d9d9;
  --calcite-color-foreground-1: #ffffff;
  --calcite-color-foreground-2: #b3b3b3;
  --calcite-color-foreground-3: #b3b3b3;
  --calcite-color-text-1: #000000;
  --calcite-color-text-2: #383838;
  --calcite-color-text-3: #4D4D4D;
  --calcite-color-text-inverse: #ffffff;
  --calcite-color-text-link: #003e99;
  --calcite-color-border-1: #000000;
  --calcite-color-border-2: #000000;
  --calcite-color-border-3: #000000;
  --calcite-color-border-input: #666666;
}

/* High contrast dark mode theme */
.calcite-mode-dark {
  --calcite-color-brand: #edd317;
  --calcite-color-brand-hover: #cfb300;
  --calcite-color-brand-press: #b19600;
  --calcite-color-background: #353535;
  --calcite-color-foreground-1: #000000;
  --calcite-color-foreground-2: #474747;
  --calcite-color-foreground-3: #242424;
  --calcite-color-text-1: #ffffff;
  --calcite-color-text-2: #f4f4f4;
  --calcite-color-text-3: #e6e6e6;
  --calcite-color-text-inverse: #151515;
  --calcite-color-text-link: #edd317;
  --calcite-color-border-1: #ffffff;
  --calcite-color-border-2: #ffffff;
  --calcite-color-border-3: #ffffff;
  --calcite-color-border-input: #fcfafa;
  --calcite-color-status-info: #00a0ff;
  --calcite-color-status-success: #36da43;
  --calcite-color-status-warning: #ffc900;
  --calcite-color-status-danger: #fe583e;
  --calcite-color-status-danger-hover: #ff0015;
  --calcite-color-status-danger-press: #d90012;
}