html,
body {
  margin: 0;
  height: 100%;
}

calcite-loader {
  height: 70vh;
}

calcite-menu-item {
  --calcite-menu-background-color: var(--calcite-color-background);
}

calcite-navigation-logo {
  --calcite-navigation-logo-heading-color: var(--calcite-color-brand);
}

calcite-shell-panel[slot="panel-start"] calcite-panel {
  border-top: 0;
}

calcite-action-bar {
  margin-inline-end: 0.5rem;
}

#modal hr {
  margin: 1rem 0;
  border: 0;
  border-bottom: 1px solid var(--calcite-color-border-3);
}

#modal ul li {
  margin-bottom: 0.5rem;
}

#modal calcite-notice {
  margin-bottom: 1.25rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}